<%- include('partials/header') %>

    <div class="container">
        <h1>Sign-In/Up</h1>
        <div class="form">
            <a href="/signIn" class="sign-in">Sign In</a>
            <a href="/register" class="sign-up">register</a>
        </div>

    </div>

<%- include('partials/footer') %>