<%- include('partials/header') %>

    <div class="container">
        <div class="left">
            <p>To the punditary in you,
            <span class="f-medium">log on to predict the scores for <span class="f-large">premier league</span>  matches</span>
            </p>
        </div>
        <div class="right">
            <h1>Sign-In/Up</h1>
            <div class="form">
                <a href="/signin" class="sign-in">Sign In</a>
                <a href="/register" class="sign-up">register</a>
            </div></div>
    </div>

<%- include('partials/footer') %>